In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import Ipynb_importer
import seaborn as sns
import datetime
from scipy.stats import norm
sns.set(style="darkgrid")
import logging
import time
import os

In [18]:
def func(path):
    path_list = []
    for i in os.listdir(path):
        path_list.append(i)
    return path_list

In [19]:
t1 = datetime.datetime(2010,1,1)
t2 = datetime.datetime(2019,7,1)


df = pd.DataFrame()
path_base = '/data/share/china_stocks/data/factor_data/'
for y in ["2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019"]:
    path = path_base + y
    path_list = func(path)
    for s in range(len(path_list)):
        if s%100 == 0:
            print(y, s, s/len(path_list))
        filename = "barra_asset_price_" + path_list[s] + ".csv"
        temp = pd.read_csv(os.path.join(path, path_list[s], filename))
        temp["date_time"] = path_list[s]
        temp["date_time"] = pd.to_datetime(temp["date_time"])
        df = df.append(temp)
    #     print(temp)

2009 0 0.0
2009 100 0.4098360655737705
2009 200 0.819672131147541
2010 0 0.0
2010 100 0.4132231404958678
2010 200 0.8264462809917356
2011 0 0.0
2011 100 0.4098360655737705
2011 200 0.819672131147541
2012 0 0.0
2012 100 0.411522633744856
2012 200 0.823045267489712
2013 0 0.0
2013 100 0.42016806722689076
2013 200 0.8403361344537815
2014 0 0.0
2014 100 0.40816326530612246
2014 200 0.8163265306122449
2015 0 0.0
2015 100 0.4098360655737705
2015 200 0.819672131147541
2016 0 0.0
2016 100 0.4098360655737705
2016 200 0.819672131147541
2017 0 0.0
2017 100 0.4098360655737705
2017 200 0.819672131147541
2018 0 0.0
2018 100 0.411522633744856
2018 200 0.823045267489712
2019 0 0.0
2019 100 0.4444444444444444
2019 200 0.8888888888888888

In [23]:
unique_symbol = [int(str(i)[-6:]) for i in list(df["tid"])]
df["unique_symbol"] = unique_symbol

In [28]:
df

               tid   Price       capital  DlyReturn%  date_time  unique_symbol
0     104060600000   17.77  1.006021e+11     -1.9316 2009-02-17         600000
1     104060600001    4.60  1.295570e+10     -4.9587 2009-02-17         600001
2     104060600003    3.64  4.416048e+09      0.5525 2009-02-17         600003
3     104060600004    9.24  1.062600e+10     -4.6440 2009-02-17         600004
4     104060600005    6.89  5.400382e+10     -6.0027 2009-02-17         600005
...            ...     ...           ...         ...        ...            ...
3690  104070300790   43.92  5.019452e+09      3.8298 2019-10-22         300790
3691  104070300791   70.25  5.620000e+09      1.0937 2019-10-22         300791
3692  104070300792  154.66  1.237280e+10     10.0000 2019-10-22         300792
3693  104070300793   23.40  3.900312e+09     10.0141 2019-10-22         300793
3694  104070300795   20.55  2.058370e+09         NaN 2019-10-22         300795

[7023211 rows x 6 columns]

In [27]:
df.to_csv("market_cap.csv")